# Ignore Unity generated Library folder
Project Voxel/Library/

#Ignore 
Project Voxel/.vs/Project Voxel

# Ignore logs
Project Voxel/Logs/

# Ignore temporary files and directories
Project Voxel/Temp/

# Ignore user settings
Project Voxel/UserSettings/

# Ignore individual problem files
Project Voxel/Assembly-CSharp.csproj
Project Voxel/Project Voxel.sln
